@import url('fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template: 175px auto / 1fr 4fr;
}

.sidebar{
    background-color: #3B82F6;
    color: white;
    grid-area: 1 / 1 / 3 / 2;
    padding: 8px;
}

.sidebar h1{
    margin: 0;
    padding:0;
    font-size: 1.75rem;
}

.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar li{
    padding:0;
    margin: 0;
}

.header{
    grid-area: 1 / 2 / 2 / 3;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px 30px;
}

.header .row{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header .row .search,
.header .row .greeting{
    flex-grow: 1;
}

.header .row:first-child p:last-child{
    font-weight: 500;
    font-size: 1.25rem;
}
.header .row .search {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}


.greeting{
    display: grid;
    grid-template-rows: 35px 35px;
    grid-template-columns: 60px 1fr;
    grid-template-areas: "image hi" "image username";
    align-items: center;
}

.greeting *{
    margin: 0;
    padding: 0;
}

.greeting img{
    grid-area: image;
    justify-self: center;
    align-self: center;
}

.greeting .hi{
    font-size: .9rem;
    font-weight: 600;
    grid-area: hi;
    align-self: end;

}

.greeting .user-name{
    font-size: 1.25rem;
    font-weight:600;
    grid-area: username;
    align-self: start;
}

.header-button{
    background-color: #3B82F6;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 18px;
    border: 0;
    font-weight: 600;
}

#search-button{
    border: 0;
    border-radius: 50%;
    background-color: white;
    align-self: center;

}
.header input[type="search"]{
    box-sizing: border-box;
    background-color: #DBEAFE;
    border: 0;
    width: 75%;
    height: 2rem;
    border-radius: 1rem;
    padding: 8px 20px;
    font-size: 1rem;
    
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;

    padding: 0 15px;
}

.projects .project{
    background-color: white;
    border-left: 6px solid #84CC16;
    border-radius: 8px;

    padding: 13px 18px;
    display: flex;
    flex-direction: column;
}

.projects .project h1{
    font-size: 1.15rem;
    font-weight: 600;
}

.projects .project p{
    color: #78716c;
    font-size: .95rem;
    flex-grow: 1;

}

.projects .project .project-buttons{
    align-self: flex-end;
}
.content{
    background-color: #DBEAFE;
    grid-area: 2 / 2 / 3 / 3; 

    display: grid;
    grid-template-columns: 3fr 1fr;

    padding: 15px;


}

.content h1{
    font-size: 1.25rem;
    font-weight: 500;
}

.announcements-content{
    border-radius: 8px;
    display:grid;
    gap: 20px;
    padding: 30px;

}

.announcements-content hr {
    margin: 0;
    color: #78716c;
}

.announcements-content, .trends{
    background-color: white;
}

.announcements-content .announcement h1{
    font-size: .95rem;
    font-weight: 500;
    margin:0;
    padding:0;
}

.announcements-content .announcement p{

    color: #78716c;
    font-size: .75rem;
    margin:0;
    padding:0;
}

.trends{
    display: grid;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
}

.trends .project{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;

    column-gap: 15px;

}

.trends .project .project-name{
    grid-area: 2 / 2 / 3 / 3;
    align-self: start;
}
.trends .project .at{
    font-weight: 500;
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
}

.trends .project p{
    margin: 0;
    padding: 0;
    font-size: .75rem;
}
.trends .project img{
    grid-area: 1 / 1 / 3 / 2;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.project,
.announcements-content,
.trends{
    box-shadow: 1px 3px 10px #b0c0d4;
}